/*General + Variables*/
body {
  margin: 0px;
  font-family: Roboto;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Loader*/
.loader {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: loader-anime 600ms 1.9s both;
}
.loader__logo1 {
  position: absolute;
  fill: black;
  -webkit-background-clip: text;
          background-clip: text;
}
.loader__logo2 {
  position: absolute;
  animation: logo-anime 200ms both;
}
.loader__logo2--1 {
  animation-delay: 200ms;
}
.loader__logo2--2 {
  animation-delay: 400ms;
}
.loader__logo2--3 {
  animation-delay: 600ms;
}
.loader__logo2--4 {
  animation-delay: 800ms;
}
.loader__logo2--5 {
  animation-delay: 1000ms;
}
.loader__logo2--6 {
  animation-delay: 1200ms;
}
.loader__logo2--7 {
  animation-delay: 1400ms;
}
.loader__logo2--8 {
  animation-delay: 1600ms;
}
@keyframes logo-anime {
  from {
    fill: black;
  }
  to {
    fill: #9356DC;
  }
}

@keyframes loader-anime {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
/*Header*/
.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
@media (min-width: 769px) {
  .header {
    height: 96px;
  }
}
.header__logo {
  width: 162px;
  height: 44px;
}
@media (min-width: 769px) {
  .header__logo {
    width: 200px;
    height: 44px;
  }
}

/*Section localisation*/
.localisation {
  width: 100%;
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #353535;
  font-weight: 500;
  gap: 17px;
}

/*Section CTA_Accueil*/
.CTA-Accueil {
  width: 100%;
  height: 287px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*boutton + animation */
}
@media (min-width: 769px) {
  .CTA-Accueil {
    height: 179px;
    padding: 30px 0px;
  }
}
.CTA-Accueil__titre {
  margin: 0;
  padding: 0px 50px;
  margin-top: 39px;
  padding-bottom: 10px;
}
@media (min-width: 769px) {
  .CTA-Accueil__titre {
    margin-top: 0px;
    font-size: 40px;
    padding-bottom: 30px;
  }
}
.CTA-Accueil__texte {
  margin: 0;
  font-size: 18px;
  color: #353535;
  padding: 1px 30px;
  font-weight: 300;
  margin-bottom: 27px;
}
@media (min-width: 769px) {
  .CTA-Accueil__texte {
    margin-bottom: 30px;
  }
}
.CTA-Accueil__button {
  height: 50px;
  width: 218px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: 500;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: box-shadow 500ms;
  overflow: hidden;
}
.CTA-Accueil__button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.CTA-Accueil__button:hover::after {
  opacity: 0.15;
}
.CTA-Accueil__button::after {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 500ms;
}

/*Section Fonctionnement*/
.fonctionnement {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
@media (min-width: 769px) {
  .fonctionnement {
    width: 75%;
    height: 228.38px;
  }
}
.fonctionnement__titre {
  margin-top: 49px;
  margin-bottom: 27px;
  margin-left: 20px;
  width: 200px;
}
@media (min-width: 769px) {
  .fonctionnement__titre {
    margin-left: 0px;
  }
}
.fonctionnement__cards {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media (min-width: 769px) {
  .fonctionnement__cards {
    flex-direction: row;
  }
}
.fonctionnement__cards .fonct-card {
  display: flex;
  flex-direction: row;
  height: 72.38px;
  width: 288.49px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  align-items: center;
  gap: 22px;
  padding-left: 34px;
  margin-left: 32px;
  position: relative;
}
@media (min-width: 769px) {
  .fonctionnement__cards .fonct-card {
    margin-left: 12px;
  }
}
.fonctionnement__cards .fonct-card__numero {
  font-size: 14.18px;
  font-weight: 500;
  color: white;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
.fonctionnement__cards .fonct-card__fa-solid {
  font-size: 18px;
  color: #7E7E7E;
}
.fonctionnement__cards .fonct-card .fa-store {
  color: #9356DC;
}
.fonctionnement__cards .fonct-card__texte {
  font-weight: 500;
}

/*Section Restaurant*/
.restaurants {
  width: 100%;
  height: 1226px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .restaurants {
    height: 608px;
    padding: 30px 0px;
  }
}
.restaurants__titre {
  margin-top: 49px;
  margin-bottom: 26px;
  margin-left: 17.5px;
}
@media (min-width: 769px) {
  .restaurants__titre {
    margin-left: 12.5%;
    margin-top: 0px;
    margin-bottom: 28px;
  }
}
.restaurants__cards {
  padding: 0px 17.5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 1058px;
}
@media (min-width: 769px) {
  .restaurants__cards {
    width: 75%;
    margin-left: 12.5%;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 9.26%;
  }
}
.restaurants__cards .restau-card {
  display: inline-block;
  background-color: white;
  height: 251px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  /*boutton j'aime + animation */
}
@media (min-width: 769px) {
  .restaurants__cards .restau-card {
    width: 45.36%;
  }
}
.restaurants__cards .restau-card__button {
  position: absolute;
  top: 195px;
  right: 21px;
  z-index: 1;
}
.restaurants__cards .restau-card__button--input {
  z-index: 2;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.restaurants__cards .restau-card__button--input:checked + .restau-card__button--visual > .heart-full {
  opacity: 1;
}
.restaurants__cards .restau-card__button--input:checked + .restau-card__button--visual > .heart-empty {
  opacity: 0;
}
.restaurants__cards .restau-card__button--visual {
  font-size: 21px;
  padding: 0;
  border: none;
  background-color: white;
}
.restaurants__cards .restau-card__button--visual .heart-empty {
  position: absolute;
  opacity: 1;
  transition: opacity 100ms;
}
.restaurants__cards .restau-card__button--visual .heart-full {
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 100ms;
}
.restaurants__cards .restau-card__new {
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 13px;
  right: 12px;
}
.restaurants__cards .restau-card__img {
  height: 174px;
  width: 100%;
  background-size: cover;
  background-position: 0% 100%;
}
@media (min-width: 769px) {
  .restaurants__cards .restau-card__img {
    background-position: 0% 70%;
  }
}
.restaurants__cards .restau-card__img--1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.restaurants__cards .restau-card__img--2 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: 0% 62%;
}
@media (min-width: 769px) {
  .restaurants__cards .restau-card__img--2 {
    background-position: 0% 55%;
  }
}
.restaurants__cards .restau-card__img--3 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurants__cards .restau-card__img--4 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurants__cards .restau-card__content {
  height: 49px;
  display: flex;
  justify-content: space-between;
  padding: 14px 13px;
  position: relative;
}
.restaurants__cards .restau-card__content div {
  width: 70%;
}
.restaurants__cards .restau-card__content div h3 {
  margin: 0px;
  font-size: 18px;
}
.restaurants__cards .restau-card__content div p {
  font-size: 17px;
  font-weight: 300;
  margin-top: 2px;
}

/*Section Footer*/
.footer {
  width: 100%;
  padding: 22px 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #353535;
  color: white;
  height: 142px;
  font-weight: 500;
}
@media (min-width: 769px) {
  .footer {
    padding: 0px;
    height: 114px;
    flex-direction: row-reverse;
    align-items: end;
  }
}
.footer__logo {
  height: 27px;
  width: 101px;
  fill: white;
  margin-bottom: 16px;
  margin-left: 25px;
}
@media (min-width: 769px) {
  .footer__logo {
    margin-right: 63px;
    margin-bottom: 30px;
    margin-left: 80px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 25px;
}
@media (min-width: 769px) {
  .footer__links {
    flex-direction: row;
    margin-bottom: 30px;
    gap: 60px;
  }
}
.footer__lienavecicon {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 769px) {
  .footer__lienavecicon {
    flex-direction: row;
    gap: 11px;
  }
}
.footer__liensansicon {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 769px) {
  .footer__liensansicon {
    flex-direction: row;
    gap: 11px;
  }
}
.footer__link i {
  margin-right: 11px;
}
.footer__link .fa-utensils {
  font-size: 14px;
}
.footer__link .fa-handshake-angle {
  font-size: 10px;
  transform: scaleY(1.3);
}/*# sourceMappingURL=style_Accueil.css.map */