/*imports*/

@import "../base/normalize";

@import "../layout/layouts";

@import "../utils/mixins";

@import "../utils/variables";

/*Header*/

.header {
    @include header-page-restaurants;
}

/*Main*/

/*background img restaurant */
.restau-img{
    object-fit: cover;
    height: 275px;
    width: 100%;
}

/*Menu*/

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-color ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
    margin-top: -55px;

}

.menu__header{
    background-color: $background-color ;
    display: flex;
    position: relative;

    &__titre{
        font-size: 28px;
        color: #101010;
        font-family: shrikhand;
        margin: 0;
        margin-top: 37px;
        margin-left: 4.53%;
        margin-bottom: 30px ;

    }

    &__button{

        top: 45px;
        right: 41px;

        @include like-button-style-animation;

        .visual{
            background-color: $background-color;
        }

    }

}

.menu__categorie{

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &__titre{
        margin: 0;
        font-size: 16px;
        font-weight: $weight-light;
        margin-left: 3.47%;
        margin-bottom: 21px;
        position: relative;
        width: 100px;
        animation: anime-titre-categorie 750ms backwards;

        &::after{
            content: "";
            background-color: $tertiary-color;
            position: absolute;
            left: 0px;
            top: 25px;
            width: 40px;
            height: 3px;

        }

        @for $i from 1 through 3{
            &--#{$i} {
                animation-delay: 400ms * $i;
             }
        }

        @keyframes anime-titre-categorie {
            from{
                opacity: 0;
            }

            to{
                opacity: 1;
            }
        }
    }

    &__cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        animation: anime-cards-categorie 750ms backwards;

        @for $i from 1 through 3{
            &--#{$i} {
                animation-delay: 400ms * $i;
             }
        }

        @keyframes anime-cards-categorie {
            from{
                transform: translateX(-50%);
                opacity: 0;
            }

            to{
                transform: translateX(0%);
                opacity: 1;
            }
        }

        & > div{
            width: 93.06%;
            height: 69px;
            display: flex;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.10);
            overflow: hidden;
            position: relative;
               
        }

        &__input{
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;

            @media (max-width: 768px) {
                &:checked{
                    & + .menu__categorie__cards__card{
                        width: 74.50%;
                        
                    }
                    & + .menu__categorie__cards__card + .menu__categorie__cards__check{
                        transform: translateX(-59px)
                        
                    }
                }
            }

            /*@media (min-width: 769px) {
                &:hover{
                    & + .menu__categorie__cards__card{
                        width: 74.50%;
                        
                    }
                    & + .menu__categorie__cards__card + .menu__categorie__cards__check{
                        transform: translateX(-59px)
                        
                    }
                }
            }*/
        }
        
        &__card {
            display: flex;
            padding: 15px 4%;
            width: 91.40%;
            height: 56.52% ;
            justify-content: space-between;
            transition: width 500ms;

            &__texte{

                width: 91.84%;

                & h3{
                    margin: 0px;
                    font-size: 18px;
                    font-weight: $weight-medium;
                    margin-right: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                & p{
                    font-size: 15px;
                    font-weight: $weight-light ;
                    margin: 0;
                    margin-right: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }

            &__prix{

                & p{
                    font-size: 15px;
                    font-weight: bold ;
                    color: #353535;
                    margin-bottom: 0px;
                    margin-top: 21px; 
                }
                
            }

            
        }

        &__check{
            position: absolute;
            right: -59px;
            height: 69px;
            width: 59px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary-color;
            transition: transform 500ms;

            & i{
                color: white;
                font-size: 20px;
            }
        }

    }


}

.menu__button{
    
    display: flex;
    margin-bottom: 40px;
    justify-content: center;

    &__visual{
        @include button-style-animation;
        width: 186px;
    }
}


/*Footer*/

.footer{
    @include footer;
}