/*imports*/

@import "../base/normalize";

@import "../layout/layouts";

@import "../utils/mixins";

@import "../utils/variables";

/*Loader*/

.loader{
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    animation: loader-anime 600ms 1.7s both;

    &__logo1 {
        position: absolute;
        fill: black;
        background-clip: text;   
    }

    &__logo2 {
        position: absolute;
        animation: logo-anime 150ms both;
        
        @for $i from 1 through 8  {
            &--#{$i} {
                animation-delay: 150ms * $i;
             }
        }
    }

    @keyframes logo-anime {
        from{
            fill: black; ;
        }
        to{
            fill: $primary-color;
        }
    }

}

@keyframes loader-anime {
    from{
        transform: translateX(0%)  ;
    }
    to{
        transform: translateX(-100%) ;
    }
}

/*Header*/

.header {
    @include header-accueil;
}

/*Section localisation*/

.localisation {
    width: 100%;
    background-color: #EAEAEA;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #353535;
    font-weight: $weight-medium;
    gap: 17px;
}

/*Section CTA_Accueil*/

.CTA-Accueil{
    width: 100%;
    height: 287px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 769px) {
        height: 179px;
        padding: 30px 0px;
    }

    &__titre {
        margin: 0;
        padding: 0px 50px;
        margin-top: 39px ;
        padding-bottom: 10px;

        @media (min-width: 769px) {
            margin-top: 0px ;
            font-size: 40px;
            padding-bottom: 30px;
        }
    }

    &__texte {
        margin: 0;
        font-size: 18px;
        color: #353535;
        padding: 1px 30px;
        font-weight: $weight-light;
        margin-bottom: 27px;

        @media (min-width: 769px) {
            margin-bottom: 30px;
        }
    }

    /*boutton + animation */

    &__button {
       
        @include button-style-animation;

    }

}

/*Section Fonctionnement*/

.fonctionnement{
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    background-color: white;
    
    @media (min-width: 769px) {
        width: 75%;
        height: 228.38px;
    }

    &__titre {
        margin-top: 49px;
        margin-bottom: 27px;
        margin-left: 20px;
        width: 200px;

        @media (min-width: 769px) {
            margin-left: 0px;
        }
    }

    &__cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 26px;
        align-items: center;

        @media (min-width: 769px) {
            flex-direction: row;
        }

        .fonct-card {
            display: flex;
            flex-direction: row;
            height: 72.38px;
            width: 288.49px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
            background-color: $background-color;
            align-items: center;
            gap: 22px;
            padding-left: 34px;
            margin-left: 12px;
            position: relative;
            
            &__numero {
                font-size: 14.18px;
                font-weight: $weight-medium;
                color: white;
                background-color: $primary-color;
                height: 24px;
                width: 24px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left:-12px;
            }

            &__fa-solid {
                font-size: 18px;
                color: #7E7E7E;
            }

            .fa-store{
                color: $primary-color;
            }
            
            &__texte {
                font-weight: $weight-medium;
            }

        }
    }

}

/*Section Restaurant*/

.restaurants{
    width: 100%;
    height: 1226px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
        height: 608px;
        padding: 30px 0px;
    }

    &__titre {
        margin-top: 49px;
        margin-bottom: 26px;
        margin-left: 17.5px;

        @media (min-width: 769px) {
            margin-left: 12.5%;
            margin-top: 0px;
            margin-bottom: 28px;
        }
    }

    &__cards{
        padding: 0px 17.5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 1058px;

        @media (min-width: 769px) {
            width: 75%;
            margin-left: 12.5%;
            padding: 0;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 9.26%;
        }

        .restau-card{
            display: inline-block;
            background-color: white;
            height: 251px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;

            @media (min-width: 769px) {
                width: 45.36%;
            }

            /*boutton j'aime + animation */

            &__button{

                top: 195px;
                right: 21px;

                @include like-button-style-animation;
                
            }

            &__new{
                padding: 6px 12px;
                text-align: center;
                font-size: 14px;
                font-weight: $weight-medium;
                background-color: $tertiary-color ;
                color: #008766;
                box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15); 
                position: absolute;
                top: 13px;
                right: 12px;
                
            }
            
            &__img{
                height: 174px;
                width: 100%;
                object-fit: cover;
                object-position: 0% 100%;

                @media (min-width: 426px) {
                    object-position: center;
                }

                @media (min-width: 769px) {
                    object-position: 0% 70%;
                }

                &--2{
                    object-position: 0% 62%;

                    @media (min-width: 769px) {
                        object-position : 0% 55%;
                    }
                }

                &--3,&--4{
                    @media (min-width: 426px) {
                        object-position:  0% 62%;
                    }
                }

            }

            &__content{
                height: 49px;
                display: flex;
                justify-content: space-between;
                padding: 14px 13px;
                position: relative;

                div{
                    width: 70%;

                    & h3{
                        margin: 0px;
                        font-size: 18px; 
                    }

                    & p{
                        font-size: 17px;
                        font-weight: $weight-light ;
                        margin-top: 2px;
                    }

                }

            }

        }

    }

}

/*Footer*/

.footer{
    @include footer;
}